solicitar_cpf.html
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>atualizar Pet</title>
    </head>

    <body>
        <header>
            <nav>
                <a href="gerenciamento.html"> 
                    INICIO
                </a>
            </nav>
            <div class="conteiner">  
                <img src="imagens/logo.jpg" alt="logo Banho e Tosa">
                <h1>atualizar Pet</h1>
            </div>
        </header>

        <main >
            <p class="texto_explicativo">Digite o nome do pet que <br> voce deseja realizar a alteração</p>
            <form action="atualizar_pet.ejs" method="POST">
                <div class="excluir">
                    <label for="NomePet" >Nome :</label> <br>
                    <input type="text" id="NomePet" name="nomePet" ><br> <br>
                </div>
                <div class="botaoe">
                    <button class="botao" type="submit" >Buscar</button>
                </div>
            </form>
        </main>
    </body>
</html>