<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Cadastrar Clientes</title>
    </head>

    <body>
        <header>
            <nav>
                <a href="gerenciamento.html"> 
                    INICIO
                </a>
            </nav>
            <div class="conteiner">  
                <img src="imagens/logo.jpg" alt="logo Banho e Tosa">
                <h1>Alterar cliente</h1>
            </div>
        </header>

        <main >
            <form action="/attcliente" method="POST">
                <div class="principal">
                    <label for="fname">Nome:</label> <br>
                    <input type="text" id="nomePessoa" name="nomePesso" ><br> <br>
                    <label for="lname">CPF:</label> <br>
                    <input type="text" id="CPF" name="CPF" ><br><br>
                    <label for="fname">Telefone:</label> <br>
                    <input type="text" id="tel" name="tel" ><br> <br>
                    <label for="lname">Cidade:</label> <br>
                    <input type="text" id="cid" name="cid" ><br><br>            
                </div>

                <div class="principal">
                    <label for="fname">Bairro:</label> <br>
                    <input type="text" id="bairro" name="bairro" ><br> <br>
                    <label for="lname">Rua:</label> <br>
                    <input type="text" id="rua" name="rua" ><br><br>
                    <label for="fname">Numero:</label> <br>
                    <input type="text" id="num" name="num" ><br> <br>
                </div>

                <div id="botao">
                    <input class="botao" type="submit" value="  Alterar  ">
                    <button class="botao" type="submit" formaction="controle_cliente.html">Cancelar</button>
                </div>
            </form>
        </main>
    </body>
</html>