<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Controle Clientes</title>
    </head>

    <body>
        <header>
            <nav>
                <a href="gerenciamento.html"> 
                    INICIO
                </a>
            </nav>
            <div class="conteiner">  
                <img src="imagens/logo.jpg" alt="logo Banho e Tosa">
                <h1>Controle clientes</h1>
                </div> 
        </header>
        
        <main>
            <a class="btn" href="cadastrar_clientes.html">Cadastrar</a>
            <a class="btn" href="excluir_cliente.html">Excluir</a>
            <a class="btn" href="pagina_buscar_cliente.html">Visualizar</a>
            <a class="btn" href="solicitar_cpf.html">Alterar</a>
        </main>
    </body>
</html>