<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Excluir Clientes</title>
    </head>
    <body>
        <header>
            <nav>
                <a href="gerenciamento.html"> 
                    INICIO
                </a>
            </nav>
            <div class="conteiner">  
                <img src="imagens/logo.jpg" alt="logo Banho e Tosa">
                <h1>Excluir cliente</h1>
            </div>
         </header>

            <main >
                <p class="texto_explicativo" >Digite o cpf do cliente que <br> voce deseja remover</p>
                <form action="excluirClientePorCpf" method="POST">
                    <div class="excluir">
                        <label for="fname" >CPF :</label> <br>
                        <input type="text" id="CPF" name="CPF" ><br> <br>
                    </div>
                    <div class="botaoe">
                        <button class="botao" type="submit">Buscar</button>
                    </div>
                </form>
            </main>
    </body>
</html>
