<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <link rel="shortcut icon" href="imagens/IMG-20230123-WA0007 (1).jpg" type="image/x-icon">
        <title>Gerenciamento</title>
    </head>

    <body>
        <header>
            <nav>
                <a href="login.html"> 
                    Sair
                </a>
            </nav>
            <div class="conteiner">  
                <img src="imagens/logo.jpg" alt="logo Banho e Tosa">
                <h1>Gerenciamento <br> banho e tosa</h1>
                </div>    
        </header>
        <main>
            <!--a class="btn" href="controle_cliente.html">Clientes</a-->
            <a class="btn" href="/cliente/">Clientes</a>
            <a class="btn" href="#">Pets</a>
            <a class="btn" href="#">Serviços</a>
            <a class="btn" href="#">Agenda</a>
            <a class="btn" href="#">Despesas</a>
        </main>   
    </body>
</html>