<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="styleLogin.css">
        <title>Tela de login</title>
    </head>

    <body>
        <section id="principal">
            <div class="boasVindas">
                <h1>Bem vindo ao sistema!</h1>
                <h2>Banho e tosa</h2>
                <p>“A grandeza de uma nação e seu progresso moral podem ser  julgados pela forma como seus animais são tratados “</p>
            </div>
            <div class="login">
                <div id="img">
                    <img src="imagens/logo.jpg" link href="logo.jpg" alt="logo Banho e tosa">
                </div>
                <form action="/login" method="POST">
                    <div class="teste">
                        <label for="login">Nome :</label>
                        <input type="text"  id= "login" name="login" ><br> <br>
                        <label for="senha">Senha:</label>
                        <input type="password" id="senha"  name="senha" ><br><br>
                    </div>
                    <div id="botao">
                        <button class="botao" type="submit">Entrar</button>
                    </div>
                </form>
            </div> 
        </section>
    </body>
</html>


