<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Erro</title>
</head>

    <section style="margin: 15% 30% ; background-color: #FFF0E0 ;
    height: 90%; border: 2px solid #FFF0E0;">

        <h1 style="padding: 40px; color: #F55B04 ; text-align: center; font-size: 30px; font-weight: bolder; text-decoration: underline;">Sucesso!!</h1>
        <p style="color: black ; text-align: center; font-size: 30px; font-weight: bold;">Operação realizada com sucesso!!</p>

        <form >
            <div class="botaoe">
                    <button class="botao" type="submit" formaction="gerenciamento.html">Confirmar</button>
                
            </div>
        </form>
    </section>
</html>
